/* elements */
html {
  display: block;  
}

html,body { 
  height:100%; 
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

ul { 
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ol { 
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

li {
  display: list-item;
}

/* Classes */

.title-container {
  background-color: #2472B3;
  color: #C1DFF8;
  width: 70%;
  margin: auto;
  padding: 2em;
  text-align: center;
  word-wrap: break-word;
}

.content-box1 {
  background-color: #C1DFF8;
  color: #2472B3;
  width: 70%;
  margin: auto;
  padding: 2em;
}

.content-box2 {
  background-color: #2472B3;
  color: #C1DFF8;
  width: 70%;
  margin: auto;
  padding: 2em;
}

div.center {
  text-align: center;
}

ol.myol {
  display: inline-block;
  text-align: left;
}