/* footer and form styling*/
.Header, p {
  color: #00334d;
}
  
#Form {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  max-width: 100%; 
  overflow: hidden;
}
  
form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;  
  flex-direction: column;
}
  
label {
  display: block;
  font-weight: bold;
  text-align: left;
  color: #00334d;
}
  
input, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid #0075b0;
  border-radius: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  color: rgb(0, 40, 130);
  background-color: #7fd4ff;
  overflow: hidden;
}
  
input[type="submit"] {
  background-color: #7fd4ff;
  color: #ffffff;
  border: 3px solid #0075b0;
  margin-top: 10px;
  padding: 10px 178px;
  border-radius: 5px;
  width: auto;
  max-width: 100%;
  align-self: flex-start;
  cursor: pointer;
  box-sizing: border-box;
}
  
input[type="submit"]:hover {
  background-color: #00aaff;
  transition: all 200ms ease;
}

/* Media queries */
@media (max-width: 767px){
.Header {
  width: 100%;
  max-width: 100%;
  height: auto;
}
  
#Form {
  margin: 1%;
  height: 100vh;
}
  
form {
  max-width: 450px;
  }

input[type="submit"] {
  flex-shrink: 0;
  width: 100%;
  max-width: none;
  min-width: 178px;
}

}
  
@media (min-width: 768px) {
body {
  text-align: center;
}
  
.Header {
  max-width: 100%;
  height: auto;
  width: 100%;
  align-self: center;
  align-items: center;
  margin: 20px;
  overflow:hidden;
}  
  
h1 {
  display: flex;
  font-size:3em;
  width: 100%;
  text-rendering: optimizeLegibility;
}
  
p {
  font-size: 1.5em;
  margin-top: 5px;   
  text-rendering: optimizeLegibility;
}
  
form {
  max-width: 400px;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  display: flex;  
  flex-direction: column;
  overflow-y:hidden;
  overflow-x:hidden;
  }
}