/*box*/
h1{
	justify-content: center;
	text-align: center;
	font-size: 1.7em;
	padding: 1em;
	border-bottom: solid;
	background-color: #E5F4C0;
	color: #00334daa;
}
@media(min-hight: 1020px){
html{
	display: flex;
	margin: 0;
	position: absolute;
	background-color: black;
}
p{
	justify-content: center;
	text-align: center;
}

}
@media(min-wight: 500px){
html{
	margin: 0;
	position: absolute;
	justify-content: center;
	text-align: center;
}

.imagebox {
  border: overflex solid #00aaff;
  line-height: 0;
}
.imagewrapper {
  display: overflex;
  color: #444;
  align-items: center;
  min-height: 10vh;
  overflow-x: hidden;
}
}
