/* base html style*/
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

/*Navigation Bar Style*/
.navigation {
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 5px solid#00aaff;
  width: auto;
}

.navbuttons {
  list-style: none;
  display: flex;
 
}

.navbuttons li {
  margin-right: 20px;
  margin-left: 20px;
}

.navbuttons a {
  text-decoration: none;
  color: #00334d;
  transition: color 0.3s ease;
}

.navbuttons a:hover {
    color: #50c5ff;
}


