/* Home */

/* base html style*/
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

::placeholder {
  color:#555555;
  opacity: 1;
  font-weight: bold;
}

/*Navigation Bar Style*/
.navigation {
  background-color: #1C5D99;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 5px solid#8EAECC;
  width: 100%;
}

.navbuttons {
  list-style: none;
  display: flex;
  padding: 0%;
}

.navbuttons li {
  margin-right: 20px;
  margin-left: 20px;
}

.navbuttons a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease;
}

.navbuttons a:hover {
  color: #8EAECC;
}

/* Body */
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  text-align: center;
}

.maincontent h1{
  text-align: center;
  font-size: 30px;
  color:#2E6E9E;
  margin-bottom: 10px;
}

.mainimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#mainimage {
  width: 150px;
  height: 150px;
}

.imagewrapper {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  min-height: 10vh;
  overflow-x: hidden;
}

.imagebox {
  flex: 1;
  border: 5px solid #407EA2;
  background-color: #fff;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  line-height: 0;
}

.imagebox img {
  object-fit: cover;
  width: 465px;
  height: 215px;
}

/* Footer */
footer {
  background-color:#FFFFFF;
}

/*contact page*/

/* footer and form styling*/
.Header, p {
  color: #00334d;
}
    
#Form {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  max-width: 100%; 
  overflow: auto;
}
    
form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;  
  flex-direction: column;
}
    
label {
  display: block;
  font-weight: bold;
  text-align: left;
  color: #00334d;
}
    
input, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid #0075b0;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(0, 40, 130);
  background-color: #7fd4ff;
  overflow: hidden;
}
    
input[type="submit"] {
  background-color: #7fd4ff;
  color: #ffffff;
  border: 3px solid #0075b0;
  margin-top: 10px;
  padding: 10px 150px;
  border-radius: 5px;
  width: auto;
  max-width: 100%;
  align-self: center;
  cursor: pointer;
  box-sizing: border-box;
}
    
input[type="submit"]:hover {
  background-color: #00aaff;
  transition: all 200ms ease;
}
  
/* Media queries */
@media (max-width: 767px){
  body {
    background-color:#FFFFFF;
  }
  
  .Header {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
    
  #Form {
    margin: 1%;
    height: 100vh;
  }
    
  form {
    max-width: 450px;
    }
  
  input[type="submit"] {
    flex-shrink: 0;
    width: 100%;
    max-width: none;
    min-width: 178px;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  }
    
  @media (min-width: 768px) {
  body {
    text-align: center;
  }
    
  .Header {
    max-width: 100%;
    height: auto;
    width: 100%;
    align-self: center;
    align-items: center;
    margin: 20px;
    overflow:hidden;
  }  
    
  h2 {
    display: flex;
    font-size:2.5em;
    width: 100%;
    text-rendering: optimizeLegibility;
  }
    
  p {
    font-size: 1.5em;
    margin-top: 5px;   
    text-rendering: optimizeLegibility;
  }
    
  form {
    max-width: 400px;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    display: flex;  
    flex-direction: column;
    overflow-y:auto;
    overflow-x:hidden;
    }
  }

/* congress 2018 */

html {
    display: block;  
  }

  html,body { 
    height:100%; 
  }

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

ul { 
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ol { 
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

li {
  display: list-item;
}

*{
  box-sizing: border-box;
}

/* Classes */
  
.title-container {
  background-color: #2472B3;
  width: 85%;
  margin: auto;
  padding: 2em;
  text-align: center;
  word-wrap: break-word;
}
  
.content-box1 {
  background-color: #C1DFF8;
  width: 85%;
  margin: auto;
  padding: 2em;
}
  
.content-box2 {
  background-color: #C1DFF8;
  width: 85%;
  margin: auto;
  padding: 2em;
  color: #00334d;
}
  
div.center {
  text-align: center;
}
  
ol.myol {
  display: inline-block;
  text-align: left;
}
  
@media only screen and (min-width: 768px) {
  html, body {
    height: 100%;
    background-color: #FFFFFF;
  }
  
  .title-container {
    background-color: #2472B3;
    width: 100%;
    margin: auto;
    padding: 2em;
    text-align: center;
    word-wrap: break-word;
  }
    
  .content-box1 {
    background-color: #C1DFF8;
    width: 100%;
    margin: auto;
    padding: 2em;
  }
    
  .content-box2 {
    background-color: #C1DFF8;
    width: 100%;
    margin: auto;
    padding: 2em;
  }
    
  div.center {
    text-align: center;
  }
    
  ol.myol {
    display: inline-block;
    text-align: left;
  }
  
}
  
@media only screen and (min-width: 1440px) {
  html, body {
    height: 100%;
    background-color: #FFFFFF;
  }
  
  .body-container {
    width: 100%;
    background-color: #FFFFFF;
    padding: 1em;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
  }
      
  .title-container {
    background-color: #2472B3;
    color: #C1DFF8;
    width: 100%;
    margin: auto;
    padding: 2em;
    text-align: center;
    word-wrap: break-word;
  }
        
  .content-box1 {
    width: 100%;
    background-color: #C1DFF8;
    margin: 0 .5em;
    padding: .5em;
    min-height: 100%;
    word-wrap: break-word;
  }
        
  .content-box2 {
    width: 100%;
    background-color: #C1DFF8;
    margin: 0 .5em;
    padding: .5em;
    min-height: 100%;
    word-wrap: break-word;
  }
}

/*box*/
h1{
  justify-content: center;
  text-align: center;
  font-size: 1.7em;
  padding: 1em;
  border-top: 5px solid #8EAECC;
  border-bottom: 5px solid #8EAECC;
  background-color: #f0ffca;
  color: #2E6E9E;
}

@media(min-hight: 1020px){
  html{
    display: flex;
    margin: 0;
    position: absolute;
    background-color: black;
  }

  p{
    justify-content: center;
	text-align: center;
  }

}

@media(min-wight: 500px){
  html{
	margin: 0;
	position: absolute;
	justify-content: center;
	text-align: center;
  }

  .imagebox {
    border: overflex solid #00aaff;
    line-height: 0;
  }

  .imagewrapper {
    display: overflex;
    color: #444;
    align-items: center;
    min-height: 10vh;
    overflow-x: hidden;
  }
}
